*{
    margin: 0;
    padding: 0;
}
body{
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 8vh;
    margin: 0;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-height: 25vh;
    min-width: 25vw;
}
h3{
    text-align: center;
}
#postavenie{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.region{
    background-color: silver;
}

th, td{
    border: 1px solid;

}
h2{
    text-align: center;
    font-size: 5vh;
}

#hlavicka{
    background-color: lightgray;
}

tr:hover:not( #hlavicka){
    background-color: grey;
}



#menu{

    position: fixed;
    list-style-type: none;
}

.obsah{
    padding: 16px;
}
@media only screen and (min-width: 600px){
    #menu-icon{
        display: none;
    }
    #menu>#list{
        position: fixed;
        height: 100%;
        font-size: 2vw;
        background-color: lightskyblue;
        list-style-type: none;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .obsah{
        padding-left: 14vw;
    }
    #menu:hover>#list{
        display: block;
    }
}

@media only screen and (max-width: 600px){
    #menu{
        background-color: lightskyblue;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #menu>#list{
        display: none;
        font-size: larger;
    }
    #menu:hover>#list{
        display: block;
        background-color: rgb(175, 208, 255);
    }
    .obsah{
        padding-top: 10vh;
    }
}

#menu a {
    display: block;
    padding: 1vw;
    border-bottom: 0.5vh solid black;
    color: black;
    text-decoration: none;

}
#menu a:hover{
    background-color: #6497ff;
    cursor: pointer;
}